@{
    ViewBag.Title = "About";
    }
<ul class="nav nav-tabs ajax-tab">
    <li role="presentation"><a class="ajax-tab-links" data-type="@Url.Action("Who", "Home")" href="#">Who</a></li>
    <li role="presentation"><a class="ajax-tab-links" data-type="@Url.Action("What", "Home")" href="#">What</a></li>
    <li role="presentation"><a class="ajax-tab-links" data-type="@Url.Action("Why", "Home")" href="#">Why</a></li>
    <li role="presentation"><a class="ajax-tab-links" data-type="@Url.Action("How", "Home")" href="#">How</a></li>
    <li role="presentation"><a class="ajax-tab-links" data-type="@Url.Action("Where", "Home")" href="#">Where</a></li>
</ul>

<div id="about" class="container">
    @Html.Partial("Who")
</div>
