@model Week7CodeChallenge.Models.AJAX_ContactForm
@{
    ViewBag.Title = "Contact";
}

<form class="ajax-form" method="post" data-posturl="@Url.Action("Contact", "Home")">
    <div class="ajax-form-content">
    @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h3>Contact Form</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(fname => fname.FirstName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    @Html.EditorFor(fname => fname.FirstName, new { htmlAttributes = new { @class = "control-group" } })
                    @Html.ValidationMessageFor(fname => fname.FirstName, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(lname => lname.LastName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    @Html.EditorFor(lname => lname.LastName, new { htmlAttributes = new { @class = "control-group" } })
                    @Html.ValidationMessageFor(lname => lname.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(email => email.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    @Html.EditorFor(email => email.Email, new { htmlAttributes = new { @class = "control-group" } })
                    @Html.ValidationMessageFor(email => email.Email, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(pNum => pNum.PhoneNum, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    @Html.EditorFor(pNum => pNum.PhoneNum, new { htmlAttributes = new { @class = "control-group" } })
                    @Html.ValidationMessageFor(pNum => pNum.PhoneNum, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(comp => comp.CompanyName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(comp => comp.CompanyName, new { htmlAttributes = new { @class = "control-group" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(proj => proj.ProjDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(proj => proj.ProjDescription, new { htmlAttributes = new { @class = "control-group" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(comment => comment.Comment, htmlAttributes: new { @class = "control-lable col-md-2" })
                    <div>
                        @Html.TextAreaFor(comment => comment.Comment, new { htmlAttribues = new { @class = "control-group" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>